body {
  background-color: #d5f4e6;
  color: #034f84;
  margin: 33px; }

body, p, ol, ul, td, field {
  font-family: helvetica, verdana, arial, sans-serif;
  font-size: 14px;
  line-height: 18px; }

pre {
  background-color: #fff;
  padding: 10px;
  font-size: 11px; }

h1 {
  text-align: center; 
  font-size: 40px; }

a {
  color: #588c7e; }

a:hover {
  color: turquoise; }

th {
  color: #034f84;
  font-size: 24px;
  padding-bottom: 10px; }

td {
  color: black;
  font-size: 14px;
  padding: 5px; }

div.field,
div.actions {
  margin-bottom: 10px; }

input {
  width: 140px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  border: 0px;
  border-width: 1px;
  border-style: solid;
  border-color: teal;
  border-radius: 5px;
}

input[type="text"] {
  background-color: white;
  height: 20px;
}

input[type="submit"] {
  background-color: teal;
  color: white;
  height: 30px;
}

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  margin: 2px;
  border: 2px solid indianred;
  border-radius: 5px;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid indianred;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; 
  color: black }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: indianred;
  color: #fff; }

#error_explanation ul li {
  font-size: 12px;
  list-style: square; }

label {
  display: block; }
