#site_title {
  background-color: white;
  color: #034f84;
  height: 40px;
  line-height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 5px;
}

#nav_bar {
  display: flex;
  justify-content: space-between;
}

#nav_bar a {
  color: #034f84;
  font-size: 16px;
}

table {
  padding: 5px;
}

#table_cont {
  width: 100%;
  background-color: white;
  border-radius: 5px;
}

th {
  padding-top: 10px;
  padding-bottom: 10px;
}

#table_list_name {
  color: #333;
}

#remember_me_cont {
  display: flex;
  align-items: center;
  margin-right: auto;
  vertical-align: middle;
  word-wrap: break-word;
}

